body {
    max-width: 720px;
    background-image: url("../img/Kiska.png");
    background-position-x: 50%; 
    background-position-y: -20%;
    background-repeat: no-repeat;
    /* background-size: 4500px; */
}


#africa-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
    min-width: 500px;
}