body {
    min-width: 800px;
    max-width: 1280px;
    background-image: url("../img/Kiska.png");
    background-size: 1280px 800px;
    background-position-x: 50%; 
    /* background-position-y: -100%; */
    background-repeat: no-repeat;
    /* background-size: 125%; */
}

#stats-container {
    position: relative;
    /* left: 5px; */
    height: 200px;
    padding: 0px;
    margin: 0px;
    background: rgb(8,29,49);
    background: linear-gradient(0deg, rgba(8,29,49,1) 0%, rgba(60,96,130,1) 100%);
    border-radius: 250px;
    /* army green */
    /* background: #4B5320;  */
    color: yellow;
    /* font-size: 30px; */
}

#stats-container #p1StatsList {
    position: relative;
    text-align: left;
    left: 10%;
}

#stats-container #p2StatsList {
    position: relative;
    bottom: 11.1rem;
    text-align: right;
    right: 10%;

}

/* #africa-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
    min-width: 500px;
} */

.jumbotron {
    background-color: rgba(0, 0, 0, 0.3);
}

.row {
  position: relative;
  left: 0px;
  bottom: 220px;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 50px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
}

.container-fluid {
    position: absolute;
    top: 590px;
    background-image: url("../img/footerimg.png");
    background-repeat: no-repeat;
}

.container-fluid #container-left {
    position: relative;
    top: 210px;
    /* bottom: 10px; */
}

.container-fluid #container-right {
    position: absolute;
    top: 210px;
    left: 1080px;
    /* bottom: 10px; */
}

/* placeholder css */
/* #img-container {
   align-self: center;
   position: absolute;
   left: 270px;
   bottom: 120px;
   height: 30px;
   animation: MoveUpDown 1s linear infinite;
} */

#attack-img{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* @keyframes MoveUpDown {
  50% {bottom: 10px}
} */